::selection
{
    /*background-color: #504945;*/
    background-color: #000000;
	color: #ffffff;
}

body
{
    background-color: #baffe4;
    background: url(./img/twinkling_stars.gif);
    background-size: 20%;
    font-family: 'Roboto', sans-serif;
	margin: 0;
	display: block;
}

html {
	cursor: url("img/icon_new.png"), default;
}

h1
{
	margin: 0px;
	padding: 7px;
    font-family: 'Roboto', sans-serif;
    color: #71b1ea;
	background-color: #030611;
    font-size: 30px;
    font-weight: 300
	display: block;
	overflow: hidden;
}

h2
{
    font-family: 'Roboto', sans-serif;
    color: #98b3a7;
    font-size: 20px;
    font-weight: 500
}

h3
{
    font-family: 'Monospace', sans-serif;
    color: #98b3a7;
    font-size: 17px;
    font-weight: 300;
    text-align: center;
}

.navLinks
{
	overflow: none;
    padding: 7px;
	margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    font-weight: 300;
    display: inline-block;
    text-decoration: none;
    color: #000000;
}

.navLinks:hover
{
    background-color: #000000;
	color: #ffffff;
}

.block
{
    background-color: #3c3836;
    width: 9%;
    height: 39px;
    margin: 3px;
    display: inline-block;
}

.block:hover
{
  background-color: #fabd2f;
}

p
{
    font-family: 'Monospace', sans-serif;
    color: #a7baf4;
    /*color: #000000;*/
    font-size: 15px;
    font-weight: 300;
    display: block;
    text-decoration: none;
    text-align: left;
	padding-left: 20%;
	padding-right: 20%;
}

trees
{
  color: #08c6e6;
}

pre
{
    color: #fabd2f;
    font-size: 20px;
    font-weight: 600;
	margin-left: -20%;
}

navbar {
	background-color: #129997;
	margin: 0;
	padding: 0;
	overflow: none;
	display: block;
}


.blogListBlog
{
	overflow: none;
    padding: 10px;
	margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    font-weight: 300;
    display: inline-block;
    text-decoration: none;
    color: #129997;
	background-color: #06040f;
	width: 80%;
	overflow-wrap: break-word;
    text-align: left;
}

.blogListBlog:hover
{
    background-color: #06040f;
	color: #ffffff;
}


section {
    background-color: #021D39;
    width: 80%;
    margin: 1rem auto;
    padding-bottom: 5px;
}

footer
{
    font-family: 'Roboto', sans-serif;
    color: #908bd0;
    /*color: #000000;*/
    font-size: 12px;
    font-weight: 300;
    display: block;
    text-decoration: none;
    text-align: center;
    padding-top: 2rem;
}

a {
    color: #938bd0;
}
